# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Streamlit cache
.streamlit/

# Python logs
*.log

# Jupyter
.ipynb_checkpoints/
